<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <script src="js/scripts.js"></script>
    <div class="info-box">
        <!-- <img src="../assets/90s.jpg" alt="Ticket Image" id="info-box" />  -->
        <div class="in">
            <p>CAMP 2020</p>
            <p>#BETTERWITHYOU</p>
            <p>Thu, Mar 1 - Sun. Mar 22 | Salem Acres Bible Camp</p>
        </div>
    </div>
</body>

</html>